.about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-title {
    margin: auto;
    font-weight: 500;
    margin-bottom: 2vh;
    color: var(--green);
}