.contact {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-title {
    margin: auto;
    font-weight: 500;
    margin-bottom: 2vh;
    color: var(--green);
}

.contact-btn {
    margin-top: 1vh;
    background-color: var(--green) !important;
}